# list

- list is nothing but collection of different types of data like array in c language
- list represented by [] braces

In [4]:
l=[]
type(l),l

(list, [])

In [5]:
l=[1,2,"hello",3.4,True,[1,2,3]]

In [6]:
l[-1]

[1, 2, 3]

In [7]:
l[-3]

3.4

In [8]:
l[5]

[1, 2, 3]

In [9]:
l[-8]

IndexError: list index out of range

In [10]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [11]:
l[-2:]

[True, [1, 2, 3]]

In [12]:
l[-1][::-1]

[3, 2, 1]

In [13]:
l[6]

IndexError: list index out of range

In [14]:
l[:5]

[1, 2, 'hello', 3.4, True]

In [15]:
l[5:]

[[1, 2, 3]]

In [16]:
l[::2]

[1, 'hello', True]

In [17]:
l[::3]

[1, 3.4]

In [19]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [20]:
del l[0]
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [24]:
l[1]=6
l

[2, 6, 3.4, True, [1, 2, 3]]

In [25]:
l[1]='g'
l

[2, 'g', 3.4, True, [1, 2, 3]]

In [26]:
len(l)

5

In [27]:
marks = [1,2,5,8,7,4]
min (marks)

1

In [28]:
max(marks)

8

In [30]:
sorted(marks)

[1, 2, 4, 5, 7, 8]

In [31]:
marks*2

[1, 2, 5, 8, 7, 4, 1, 2, 5, 8, 7, 4]

In [32]:
sorted(marks,reverse=True)

[8, 7, 5, 4, 2, 1]

## list method

In [33]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
marks.append(10)

In [35]:
marks

[1, 2, 5, 8, 7, 4, 10]

In [36]:
marks.pop()

10

In [103]:
marks.insert(0,10)

In [104]:
marks.index(8)

6

In [105]:
marks

[10, 1, 2, 4, 5, 7, 8, 13, 13, 20, 20, 20, 20, 20, 20, 30, 20, 30]

In [106]:
marks.count(20)

7

In [107]:
for item in marks:
    print(item)

10
1
2
4
5
7
8
13
13
20
20
20
20
20
20
30
20
30

In [109]:
index = 0
while index<len(marks):
    print(marks[index])
    index +=1

10
1
2
4
5
7
8
13
13
20
20
20
20
20
20
30
20
30

In [113]:
# task1 :print the names end with 'u' character
#sample output : madhu balu veeru
names = "ravi veeru balu madhu krishh"
names_list =names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name,end=" ")

veeru balu madhu

In [1]:
#task2: print the names with maximum length
#sample output : krishh
n=input()
names =n.split()
high=""
for name in names:
    if len(name)>len(high):
        high=name
print(high)

mahesh ram krish
mahesh

In [6]:
#task3 :print the names ends with vowels
#sample output : " ravi veeru balu madhu"
names = "ravi veeru balu madhu krishh"
names_list =names.split(" ")
for name in names_list:
    if name.endswith('a' or 'e' or'i' or 'o' or 'u'):
        print(name,end=" ")

## tuple


- tuple is a immutable data type in pyton
- it is also like list but it can't change once created
- it is representated by paranthesis() symbol.

In [118]:
t= tuple()
t

()

In [119]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

## indexing in tuple

In [120]:
ages[0]

20

In [121]:
ages[-1]

40

# slicing in tuple

In [128]:
ages[0:2]

(20, 21)

In [129]:
ages[::-1]

(40, 21, 20)

In [130]:
len(ages)

3

In [131]:
max(ages)

40

In [132]:
sum(ages)

81

# #tuple methods

In [133]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [134]:
ages.index(20)

0

In [135]:
ages.index(40)

2

In [136]:
ages.count(20)

1

In [137]:
x,y,z = ages

In [138]:
print(x,y,z)

20 21 40

In [139]:
a= 1,2,3
a, type(a)

((1, 2, 3), tuple)

In [140]:
for item in ages [::-1]:
    print(item)

40
21
20

In [ ]:
# task6 : given two strings of equal length,you have to find whether they are identical.
#intput : "abc" "cab"
# output : "yes"
inputs = "abc cab"
in

# set

In [146]:
s={1,2,3}
s,type(s)

({1, 2, 3}, set)

In [147]:
len(s)

3

In [148]:
min(s)

1

In [149]:
l={1,2,3,4,5,6,7}
l

{1, 2, 3, 4, 5, 6, 7}

In [150]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [151]:
s.add(10)

In [152]:
s

{1, 2, 3, 10}

In [153]:
s.remove(10)
s

{1, 2, 3}

In [154]:
s.pop()

1

In [155]:
s

{2, 3}

In [156]:
a={1,2,3,4,5}
b={1,3,4,6}

In [157]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [158]:
b.difference(a)

{6}

In [159]:
a.intersection(b)

{1, 3, 4}

In [161]:
a,b

({1, 2, 3, 4, 5}, {1, 3, 4, 6})

In [162]:
a.difference_update(b)
a,b

({2, 5}, {1, 3, 4, 6})

In [163]:
c={1}
c

{1}

In [164]:
c.issubset(a),a,c

(False, {2, 5}, {1})

In [166]:
a.isdisjoint(c)

True

In [167]:
a.issuperset(c)

False

In [12]:
# task4 to find and print whether the string is pallindrome or not
#input : lol
#output :"yes"
s1 ="lol"
s2 = s1[::-1]
if(s1==s2):
    print("yes")
else:
    print("no")

yes

In [13]:
#task 5 to find the toggle string 
n = input()
l=len(n)
for i in range(0,1):
    if (ord(n[i])>=65 and ord(n[i])<=90):
        print(chr(ord(n[i])+32),end=" ")
    else:
        print(chr(ord(n[i])-32),end=" ")

hElLo
H